<div>
  <table class="table table-striped table-hover table-condensed">
    <!-- Header of the table with the ability to search the different fields -->
    <!-- Each header cell gives the option to press a search botton to give access to a text field. 
         That will filter the movies 
    -->
    <thead>
      <tr>
        <th>
          <div class="input-group form-group-sm">
            <ng-container *ngIf="!titleSearch">Title</ng-container>
            <ng-container *ngIf="titleSearch" >
              <input 
                class="form-control input-sm"
                [disabled]="movieEdit !== null" 
                [(ngModel)]="searchTitle" 
                placeholder="Search by Title" 
                (keyup.delete)="titleSearch=false" 
                (keyup)="search({title:searchTitle, genre:searchGenre, actor:searchActor})" 
              /> 
            </ng-container>
            <div class="input-group-btn">
              <button 
                type="button" 
                class="btn btn-default btn-sm pull-right"
                [disabled]="movieEdit !== null"                
                (click)="titleSearch=!titleSearch; searchTitle=''; search({id:0, title:searchTitle, genre:searchGenre, actor:searchActor})" 
                (keyup.enter)="titleSearch=!titleSearch; searchTitle=''; search({id:0,title:searchTitle, genre:searchGenre, actor:searchActor})">
                <span class="glyphicon glyphicon-search"></span>
              </button>
            </div>
          </div>
        </th>
        <th>
        <div class="input-group form-group-sm">
          <ng-container *ngIf="!genreSearch">Genre</ng-container>
          <ng-container *ngIf="genreSearch">
           <input 
            class="form-control input-sm"
            [disabled]="movieEdit !== null" 
            [(ngModel)]="searchGenre" 
            placeholder="Search by Genre" 
            (keyup.delete)="titleSearch=false" 
            (keyup)="search({title:searchTitle, genre:searchGenre, actor:searchActor})" 
           /> 
          </ng-container>
          <div class="input-group-btn">
          <button 
            class="form-control input-sm"
            [disabled]="movieEdit !== null" 
            type="button" 
            class="btn btn-default btn-sm pull-right" 
            (click)="genreSearch=!genreSearch; searchGenre=''; search({id:0,title:searchTitle, genre:searchGenre, actor:searchActor})" 
            (keyup.enter)="genreSearch=!genreSearch; searchGenre=''; search({id:0,title:searchTitle, genre:searchGenre, actor:searchActor})">
            <span class="glyphicon glyphicon-search"></span>
          </button>
          </div>
          </div>
        </th>
        <th>
        <div class="input-group form-group-sm">
          <ng-container *ngIf="!actorSearch">Actor</ng-container>
          <ng-container *ngIf="actorSearch">
           <input 
            class="form-control input-sm"
            [disabled]="movieEdit !== null" 
            [(ngModel)]="searchActor" 
            placeholder="Search by Actor" 
            (keyup.delete)="titleSearch=false" 
            (keyup)="search({title:searchTitle, genre:searchGenre, actor:searchActor})" 
           /> 
          </ng-container>
          <div class="input-group-btn">
          <button
            class="form-control input-sm"
            [disabled]="movieEdit !== null" 
            type="button" 
            class="btn btn-default btn-sm pull-right" 
            (click)="actorSearch=!actorSearch; searchActor=''; search({id:0,title:searchTitle, genre:searchGenre, actor:searchActor})" 
            (keyup.enter)="actorSearch=!actorSearch; searchActor=''; search({id:0,title:searchTitle, genre:searchGenre, actor:searchActor})">
            <span class="glyphicon glyphicon-search"></span>
          </button>
          </div>
          </div>
        </th>
        <th></th>
      </tr>
    </thead>
    <!-- List out all the movies -->
    <tbody class="" >
      <ng-container *ngFor="let movie of movies | async" [ngSwitch]="movie">
        <tr movie-row-edit [movie]="movie" [table]="this" *ngSwitchCase='movieEdit'  (click)="onSelect(movie);" [class.active]="movie === selectedMovie"></tr>
        <tr movie-row [movie]="movie" [table]="this" *ngSwitchDefault  (click)="onSelect(movie)" [class.active]="movie === selectedMovie"></tr>
      </ng-container>
    </tbody>
    <!-- The ability to add new movies -->
    <tfoot>
      <tr movie-row-edit [add]="true" [table]="this" (click)="onSelect(null);"></tr>
    </tfoot>
  </table>
</div>